.button-basic  {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-reset  {
    @extend .button-basic;
    background-color:$secondary-color;
    color: white;
  }
  
  .button-submit  {
    @extend .button-basic;
    background-color: $primary-color;
    color: white;
  }