/* COLORES --- YA CHEQUADOS QUE NO DAN CONFLICTO CON DALTONISMO*/
/*
{ color: #5204BF; } nav
{ color: 
; } hover
{ color: #260259; } para fondo, logo e iconos 
{ color: #05C7F2; } para bordes
{ color: #BF1111; } para alerta */

$primary-color: #5204BF;
$secondary-color:#260259;
$terciary-color:#05C7F2;
$font-color:black;








