
/* CODIGO PARA APLICAR EN LAS CARDS PARA SEPARAR EL TEXTO Y EVITAR QUE QUEDE MUY JUNTO*/
$separacionLineas:1.2;


@mixin separacionLineas($tamanoFuente, $alturaLinea: $tamanoFuente){
    font-size: $tamanoFuente;
    line-height: $alturaLinea/$tamanoFuente;
}


$font-sizes: ("small": 14px, "normal": 16px);

/* FUENTES*/


h1{
    text-align:center;
    font-family: Bree Serif;
    
}

h2{
    text-align:center;
    font-family: Montserrat;
    
}



