$separacionLineas:1.2;


@mixin separacionLineas($tamanoFuente, $alturaLinea: $tamanoFuente){
    font-size: $tamanoFuente;
    line-height: $alturaLinea/$tamanoFuente;
}



$font-sizes: ("small": 12px, "normal": 18px, "large": 24px);


h1{
    text-align:center;
    font-family: Bree Serif;
}

h2{
    text-align:center;
    font-family: Montserrat;
}
