@import "colores";
@import "botones";
@import "fuentes";

body {
    /* ESTILO DE FUENTES*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    /*BACKGROUND*/
    background-image: linear-gradient($terciary-color, $secondary-color)
        /*agrego gradiente */
}


/* TABLET RD*/ /*CLASE PARA QUE EL TEXTO SE SEPARE*/
@media screen and (max-width: 760px){
    .separacionLineas{
        @include separacionLineas(15px, 30px);
        font-size: map-get($font-sizes, "small");
    }
}


/*------------------------------
ENCABEZADO
---------------------------*/
.header {
    grid-area: header;
    background-color: white;

}

.container {
    width: auto;
    margin: 0 auto;
    background-color: white;

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}



/*NAV BAR*/
nav {
    background-color: $primary-color;
    text-align: right;
    padding: 20px;
    position: relative;

    ul {
        display: flex;
    }

    li {
        display: inline-block;
        margin: 0px 0px;
        padding-top: 1px;

        a {
            color: white;
            padding: 11px;
            text-decoration: none;
            font-family: arial;

            &:hover {
                background-color: $secondary-color;
                padding: 20px 11px;
                color:white !important;
            }
        }
    }
}




.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color:white;
   }

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.btn-outline-success {
    color: white;
    background-color: $secondary-color;

    &:hover {
        background-color: $secondary-color;
    }
}


#logo {
    height: 70px;
    overflow: hidden;
    background-color: white;
    border-radius: 0.5em;
    &:hover{
        box-shadow: 0 2px 10px 0 rgba($color: black, $alpha: 0.6);
    }
}



/*---PAGINA----*/

.page {
    background-color: white;
}

.row{
    padding-top: 15px;
}

/* --- ANIMACIONES ----*/
.textoAnimadoDestacado {
    animation-name: destacado;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes destacado {
    from {
        color: #f2f2f2;
    }

    to {
        color: rgb(181, 190, 225);
        font-weight: bold;
    }

}


/*---- FORUM ----*/
$paletaDeColores: ( /*color del usuario */
        rojo: #ff0000a1,
        verde: #00ff1a33,
        azul: #0000ff57,
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $colorSeleccionado, $color in $paletaDeColores {
   .fondo--#{$colorSeleccionado} {
       background-color: $color;
   }
}


.avatar {
    height: 70px;
    overflow: hidden;
    background-color: white;
    border-radius: 0.5em;
    &:hover{
        box-shadow: 0 2px 10px 0 rgba($color: black, $alpha: 0.6);
    }
}
