/* COLORES --- YA CHEQUADOS QUE NO DAN CONFLICTO CON DALTONISMO*/
/*
{ color: #5204BF; } nav
{ color: 
; } hover
{ color: #260259; } para fondo, logo e iconos 
{ color: #05C7F2; } para bordes
{ color: #BF1111; } para alerta */
.button-basic, .button-reset, .button-submit {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer; }

.button-reset {
  background-color: #260259;
  color: white; }

.button-submit {
  background-color: #5204BF;
  color: white; }

.btn-toolbar {
  justify-content: flex-end; }

.btn-group {
  background: #260259;
  border: 1px solid #ddd;
  color: black; }
  .btn-group > .btn:focus {
    background: #eee;
    outline: none !important;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: .25rem; }
  .btn-group > .btn:active {
    background: #eee;
    outline: none !important;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: .25rem;
    color: white; }

.btn {
  color: white; }
  .btn:hover {
    color: black; }

/* CODIGO PARA APLICAR EN LAS CARDS PARA SEPARAR EL TEXTO Y EVITAR QUE QUEDE MUY JUNTO*/
/* FUENTES*/
h1 {
  text-align: center;
  font-family: Bree Serif; }

h2 {
  text-align: center;
  font-family: Montserrat; }

body {
  /* ESTILO DE FUENTES*/
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 70%;
  /*BACKGROUND*/
  background-image: linear-gradient(#05C7F2, #260259); }

.ocultar {
  display: none; }

.tituloSeccion {
  display: flex;
  width: 95%;
  margin: 10px;
  text-decoration: none;
  /*font-family: 'Poppins', sans-serif;
    font-size: 40px;*/
  color: white;
  background: #5204BF;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg); }
  .tituloSeccion h2 {
    transform: skewX(15deg);
    padding-top: 2px;
    margin-bottom: 0px; }

.tituloSeccionSecundario {
  margin-top: 20px; }

/* TABLET RD*/
/*CLASE PARA QUE EL TEXTO SE SEPARE*/
@media screen and (max-width: 760px) {
  .separacionLineas {
    font-size: 15px;
    line-height: 2;
    font-size: 16px; } }

/* MOVIL RD*/
@media screen and (max-width: 520px) {
  .separacionLineas {
    font-size: 15px;
    line-height: 2;
    font-size: 14px; } }

/*------------------------------
ENCABEZADO
---------------------------*/
.header {
  grid-area: header;
  background-color: white; }

.container {
  width: auto;
  margin: 0 auto;
  background-color: white; }
  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }

/*NAV BAR*/
nav {
  background-color: #5204BF;
  text-align: right;
  padding: 20px;
  position: relative; }
  nav ul {
    display: flex; }
  nav li {
    display: inline-block;
    margin: 0px 0px;
    padding-top: 1px; }
    nav li a {
      color: white;
      padding: 11px;
      text-decoration: none;
      font-family: arial; }
      nav li a:hover {
        background-color: #260259;
        padding: 20px 11px;
        color: white !important; }

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.btn-outline-success {
  color: white;
  background-color: #260259; }
  .btn-outline-success:hover {
    background-color: #260259; }

#logo {
  height: 70px;
  overflow: hidden;
  background-color: white;
  border-radius: 0.5em; }
  #logo:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6); }

/*---FOOTER----*/
.imagenFooter {
  height: 30px;
  margin: 5px; }

/*---PAGINA----*/
.page {
  background-color: white; }

.row {
  padding-top: 15px; }

/* --- IMAGENES ----*/
.imagenJuego {
  height: 100px; }

/* --- CARDS ----*/
.card-title {
  font-family: Montserrat;
  font-weight: bold; }

/*----VIDEOS DE YOUTUBE---*/
.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%; }

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%; }

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* --- ANIMACIONES ----*/
.textoAnimadoDestacado {
  animation-name: destacado;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes destacado {
  from {
    color: #f2f2f2; }
  to {
    color: #b5bee1;
    font-weight: bold; } }

/*----CAROUSEL----*/
.w-30 {
  width: 30%; }

.carousel-item {
  text-align: center; }

.carousel-inner img {
  display: inline-block  !important; }

.noPadding {
  padding-top: 0px; }

/*---- FORUM ----*/
/*Creamos el bucle para usar los valores del mapa*/
.fondo--rojo {
  background-color: #ff0000a1; }

.fondo--verde {
  background-color: #00ff1a33; }

.fondo--azul {
  background-color: #0000ff57; }

.avatar {
  height: 70px;
  overflow: hidden;
  background-color: white;
  border-radius: 0.5em; }
  .avatar:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6); }

/*--CONTACTO--*/
.padding-10 {
  padding-top: 10px; }
